/* 
  c = color
  bg = background
  bx = box 
*/
:root{
  --c-gray: #666666;
  --c-black: #171717;
  --bg-primary: #EDEDED;
  --bg-secondary: #ffffff;
  --bg-dark-blue: #161B22;
  --blue-primary: #3483FA;
  --blue-secondary: #E3EDFB;
  --c-border-transparent: #0001;
  --c-border-white: #f5f5f5;
  --bx-shadow-card: 0 7px 11px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
  /* border: 1px solid rgba(0,0,0,.1); */
}
html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--bg-primary);
  color: var(--c-gray);
  font-size: 18px;
  font-family: sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 100%;
  height: auto;
}